# core db settings
SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000"
CORS_ALLOWED_ORIGINS="http://localhost:8000, http://127.0.0.1:8000"

# Database settings
DB_ENGINE="django.db.backends.postgresql"
DB_NAME="CHANGE-ME"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

# Running environment conf (local_dev, dev, prod)
APP_ENV="local_dev"

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=joalmedicoes@gmail.com
EMAIL_HOST_PASSWORD=dcon bezr igmr gvyc
DEFAULT_FROM_EMAIL=joalmedicoes@gmail.com
