[Unit]
Description=RB Software Docker Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/docker compose -f /home/ubuntu/myapp/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /home/ubuntu/myapp/docker-compose.yml down

[Install]
WantedBy=multi-user.target