{% extends 'measurements/main.html' %}
{% load static %}

{% block title %}Editar Medição{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar descrição: {{ measurement.name }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="description" id="id_description">{{ measurement.description|safe }}</textarea>

        <div class="text-end mt-3">
            <a href="{% url 'view_measurement' measurement.pk %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
<script>
ClassicEditor
    .create(document.querySelector('#id_description'), {
        simpleUpload: {
            uploadUrl: '/ckeditor5/image_upload/',
            withCredentials: false,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }
    })
    .catch(error => console.error(error));
</script>
{% endblock %}
