 <div class="sidebar d-flex flex-column p-3">
        <h3 class="text-center">Dashboard</h3>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active"><i class="fas fa-home me-2"></i>Home</a>
            </li>
            <li>
                <a href="#" class="nav-link"><i class="fas fa-chart-line me-2"></i>Analytics</a>
            </li>
            <li>
                <a href="#" class="nav-link"><i class="fas fa-cog me-2"></i>Settings</a>
            </li>
            <li>
                <a href="#" class="nav-link"><i class="fas fa-user me-2"></i>Profile</a>
            </li>
        </ul>
        <hr>
        <div class="text-center">
            <small>&copy; 2025 Company</small>
        </div>
    </div>
