<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; }
        .card { border: 1px solid #ddd; border-radius: 8px; margin: 10px 0; padding: 10px; }
        .header { background-color: #f7f7f7; padding: 8px; font-weight: bold; }
        .footer { margin-top: 20px; font-size: 0.9em; color: #555; }
    </style>
</head>
<body>
    <h2>{{ measurement.name }}</h2>
    <p><strong>Contrato:</strong> {{ measurement.contract|default:"-" }}</p>
    <p><strong>Data de Pagamento:</strong> {{ measurement.payment_date|date:"d/m/Y"|default:"Não definida" }}</p>
    <p><strong>Valor:</strong> R$ {{ measurement.value|floatformat:2|default:"0,00" }}</p>
    <p><strong>Descontos:</strong> R$ {{ measurement.discounts|floatformat:2|default:"0,00" }}</p>
    <p><strong>Detalhes do Desconto:</strong>{{measurement.discounts_detail|default:"-" }}</p>
    <p><strong>Valor Final:</strong> R$ {{ measurement.final_value|floatformat:2|default:"0,00" }}</p>


    <div class="card">
        <div class="header">Descrição</div>
        <div>{{ measurement.description|safe }}</div>
    </div>

    {% if director_approval %}
    <p><strong>Status:</strong> ✅ Aprovado pelo Diretor</p>
    {% endif %}

</body>
</html>
